<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="serverUrl" value="http://localhost" />
    <add key="serverPort" value="5000" />
    <add key="statCheckIntervalInSeconds" value="3" />
  </appSettings>
</configuration>